<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<h2>Layout: Card</h2>

<mat-card>Simple card</mat-card>



<h2>More Complex Card</h2>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Placeholder</mat-card-title>
    <mat-card-subtitle>Image 350x150</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://via.placeholder.com/350x150" alt="Placeholder 350x150">
  <mat-card-content>
    <p>
      Placeholder images are very uesful.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="doLike()">LIKE</button>
    <button mat-button (click)="doShare()">SHARE</button>
  </mat-card-actions>
</mat-card>
